<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.glenn.lathalanavigation">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Publish"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Facebook"
            android:label="@string/title_activity_facebook"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Twitter"
            android:label="@string/title_activity_twitter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Instagram"
            android:label="@string/title_activity_instagram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PhotoGallery"
            android:label="@string/title_activity_photo_gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FacebookDetails"
            android:label="@string/title_activity_facebook_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TwitterDetails"
            android:label="@string/title_activity_twitter_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InstagramDetails"
            android:label="@string/title_activity_instagram_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
